[2018-02-07 06:17] sguptatw opened #1 "Minimal console messages"
**Expected behavior**
When gauge specs are run, the messages on the console can be minimum

**Actual behavior**
Apart from the statistics and the run information, the following is also getting printed
[code]
**Version**
[code]

[2018-02-07 11:49] sguptatw opened #2 "[macOS Sierra] gauge init dotnet fails"
**Expected behavior**
Should be able to initialize a dotnet project

**Actual behavior**
Getting the following error
[code]

**OS**
macOS Sierra - Version 10.12.5

**Steps to replicate**
* Install dotnet-sdk-2.1.4-osx-gs-x64.pkg
* `gauge init dotnet`

**Version**
[code]

Bug on story - https://github.com/getgauge/gauge/issues/607

[2018-02-12 06:50] sriv commented on #2
Fix should be in nightly >= 12/02/18

[2018-02-12 06:51] sriv commented on #1
Cannot seem to get rid of this:

[code]

from the `dotnet` cli.

I added a `-q` flag to suppress the project logs. These can be enabled when using `DEBUG` log level.

Fix should be available in nightly >= 12/02/18

[2018-02-13 06:00] #1 closed

[2018-02-13 06:43] #2 closed

[2018-03-07 11:03] nehashri opened #3 "Runner should log to log files when started gauge is started as daemon"
Runner console logs should be logged to the log file when started as daemon.
When gauge is running as lsp server, runner console should be redirected to lsp.log.
When gauge is running as api daemon, runner console should be redirected to api.log.
In the above two cases, runner should log to the log files with proper formatting. Current log file format for gauge is 'HH:MM:ss.l'. (eg :- 12:50:11.221

[2018-03-16 14:22] marcosmlpf opened #4 "Could not load file or assembly 'Microsoft.Extensions.Options, Version=2.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'"
When trying to load DLLs from a project using .NET Core Dependency Injection, I'm getting above error.
My guess is that current c-sharp plugin (not dotnet) may be facing issues with Binding Redirects.

[2018-03-20 01:21] sriv commented on #4
I am not sure I understand completely. the `dotnet` and `csharp` plugins are quite independent (except for the `Gauge.CSharp.Lib` package)

Do you have a sample project for me to test this out?

[2018-03-20 12:25] marcosmlpf commented on #4
Hi Sriv, I was able to reproduce the error by trying to add .NET Core assemblies for Dependency Injection, as it adds a reference to DLL I've mentioned on the title.

I was also able to fix the issue, by default .NET Core projects doesn't follow assembly redirects, so it requires an update on csproj files.

I've made local changes to Gauge.Dotnet csproj and made it work by including the following

[2018-03-21 01:13] sriv commented on #4
hi @marcosmlpf , PRs are always welcome. Please go ahead and raise one.

Also, if you have a simple project that you can share, which can be used to replicate the issue, it would help our QA, @sguptatw .

Very soon :) We are currently working on max capacity to get some things going on gauge, but this should follow soon.

[2018-06-11 05:34] BugDiver opened #6 "LSP support"
Ref getgauge/gauge-vscode#84

To provide all the `gauge` lsp features the following things need to be done

* Requires #7
* Requires #8

[2018-06-11 05:45] BugDiver opened #7 "Parse c# files statically"
Currently, runner scans all the `dlls` when it starts. The `dlls` are loaded even for the `validation` and refactoring.
We should be parsing c# files statically and build the step registry, load the `dlls` only for execution. `Validation`, `Refactoring` and other requests should be processed with the step-registry build with static parsed files.

Parent Issue - #6

[2018-06-11 05:49] BugDiver opened #8 "Add guage lsp end points"
Parent - #6

Add all the gauge lsp endpoints, to provide `go to def`, `refactoring`, `diagnostic` etc in vs code.
If the runner is launched in lsp mode start a `GRPC` server and send responses.

[2018-06-30 22:02] heshamamin opened #11 "Add support for specifying build configuration"
Currently gauge builds the project using "release" configuration. It would be great if the required build configuration could be specified using **GAUGE_CSHARP_PROJECT_CONFIG** setting. Same as https://github.com/getgauge/gauge-csharp

[2018-07-04 09:02] nehashri commented on #11
This card still need QA testing.

[2018-07-10 11:06] sguptatw opened #14 "GAUGE_CSHARP_PROJECT_CONFIG setting should be honored on Mac as well"
**Actual behavior**
It does not work as expected on OSx

**Steps to replicate**
* Create a new dotnet project `gauge init dotnet`

* Run the specs `gauge run specs`

**Version**

[code]
Blocks #11

[2018-07-16 08:26] sguptatw opened #16 "Alias usage statistics must be available"
**Actual behavior**
Statistics are not available for steps with alias

**Steps to replicate**
* Create an alias step
[code]
* The step is not recognized and its usages are not reflected

**Version**
[code]
Blocks #6

[2018-07-16 12:13] BugDiver commented on #6
Should be available in following nightlies
* Vscode - 16-07-2018
* dotnet - 16-07-2018

[2018-07-17 06:06] BugDiver commented on #16
@sguptatw The Syntax for aliases is wrong.
The correct syntax is -
[code]

[2018-07-17 06:10] BugDiver commented on #14
@sguptatw  I'm not able to see the `Debug` artifacts when I run the project in `release` mode.
Can you try the same steps in and empty dir?

[2018-07-17 06:54] sguptatw commented on #16
Followed the syntax given in the documentation - https://docs.gauge.org/latest/writing-specifications.html#step-alias. May be the documentation needs to be addressed.

[2018-07-18 11:54] sguptatw opened #17 "Create a new step should list project specific files"
**Actual behavior**
It is listing debug folder cs files as well

**Steps to replicate**
* Create a `gauge-dotnet` project
* `run the specs`
* Add a new step for implementation.
* Try implementing the step

It lists obj and debug cs files

**Version**
[code]

[2018-07-18 12:18] sguptatw opened #18 "ItemGroup remove should be honoured by LSP"
**Actual behavior**
Even though a gauge file is excluded from the project, it is considered by the IDE but not by the command line

**Steps to replicate**
* Create a gauge dotnet project
* Add the following to the csproj
[code]

**Version**
[code]
Blocks #7

[2018-07-18 13:06] sguptatw opened #19 "Shutdown LSP call takes about 30 seconds"
**Expected behavior**
Shutdown should be faster

**Steps to replicate**
* Run [LSP tests](https://github.com/getgauge/gauge-lsp-tests)
`gauge run specs --env=dotnet-wd`

**Version**
[code]

[2018-07-19 06:05] BugDiver commented on #19
Fixed in https://github.com/getgauge/gauge-dotnet/commit/7bbe887021b2f60c289b653f14d004b5d442d8ff

[2018-07-19 06:06] #19 closed

[2018-07-19 06:11] sguptatw commented on #7
ItemGroup removed in project files should be honoured by LSP is tracked separately https://github.com/getgauge/gauge-dotnet/issues/18

[2018-07-19 06:11] #7 closed

[2018-07-19 06:13] sguptatw commented on #8
Working as expected
[code]

[2018-07-19 06:13] #8 closed

[2018-07-19 06:37] sguptatw commented on #16
Documentation updated to reflect the correct usage.

[2018-07-19 06:37] #16 closed

[2018-07-19 06:38] #6 closed

[2018-07-19 08:00] sguptatw commented on #14
Still able to replicate it with
[code]

[2018-07-19 08:31] BugDiver commented on #11
The defect in this feature is being tracked as #14

[2018-07-19 08:31] #11 closed

[2018-07-19 08:42] BugDiver opened #20 "Add support to capture screenshot"
Parent issue: getgauge/gauge#632

Gauge C# API:

GaugeScreenshots.Capture would capture the screenshot at the instance it is invoked.

[2018-07-23 06:35] BugDiver opened #21 "Custom messages in hooks"
ref https://github.com/getgauge/html-report/issues/111

[2018-07-24 13:10] BugDiver commented on #21
Fix should be available in nightly >= 24-7-2018

[2018-07-24 14:37] BugDiver commented on #20
Should be available in nightly >= 25-7-2018

[2018-07-26 10:23] jiabiao opened #24 "Can not reference to Microsoft.Extensions.Primitives.dll"
It can add any other third-party nuget packages. But for Microsoft.Extensions.Primitives,  it will throw the System.IO.FileLoadException from Gauge.Dotnet.GaugeListener.

reproduct steps:
[code]

![image](https://user-images.githubusercontent.com/1818225/43256525-89325b82-90ff-11e8-8ed0-b111e9bb29ed.png)

[2018-07-27 02:41] jiabiao commented on #24
I guess this is beacuse gauge-dotnet already referenced to Microsoft.Extensions.Primitives 2.0.0
![image](https://user-images.githubusercontent.com/1818225/43298636-64b80920-9189-11e8-9d64-075de1a30a42.png)

[2018-07-27 05:32] #21 closed

[2018-07-27 06:35] #20 closed

[2018-08-01 06:07] BugDiver commented on #24
@jiabiao After some investigation, I found out that we reference a package named `NLog.Extensions.Logging` which refers to `Microsoft.Extensions.Primitives.dll`.
https://github.com/getgauge/gauge-dotnet/blob/0f957027ce011552b032f4d239a8a3ceb60a68a0/src/Gauge.Dotnet.csproj#L34

We can get rid of `NLog.Extensions.Logging` since it is not used anywhere.

[2018-08-01 06:13] BugDiver commented on #24
The fix should be available in nightly >= 01-08-2018.

[2018-08-01 06:26] snakefoot opened #25 "Update NLog to latest version, instead of BETA"
https://github.com/getgauge/gauge-dotnet/blob/e8ea4ac0fde607c5a59b94cc8df52f8ef74f428b/src/Gauge.Dotnet.csproj#L33

NLog 4.5.0 RTM has been released for NetCore: https://www.nuget.org/packages/NLog/

[2018-08-02 02:44] sguptatw commented on #24
Verified in
[code]

[2018-08-02 02:44] #24 closed

[2018-08-13 05:33] BugDiver commented on #14
Seems like `dotnet` generates the debug `obj` (unlinked) as well for `release` config, but no `dll's` are generated. It's the same behavior with a normal `dotnet` app as well.

[2018-08-13 05:33] #14 closed

[2018-09-04 04:27] sguptatw commented on #17
The issue is still replicable with the following version. ![vscode](https://user-images.githubusercontent.com/6310197/45009925-80bf4800-b028-11e8-9466-43f228d0f9f9.png)

Steps - same as the original issue comment.

[code]

[2018-09-04 04:38] sguptatw commented on #18
The Item Remove is considered for the diagnostics. However it is still not considered for step implementation.

**Steps to replicate**
* Create a gauge dotnet project
* Add the following to the csproj
[code]
* Reload the project
* Add an unimplemented step in spec. Now try implementing the step. The removed item group element `StepImplementation.cs` is still listed in the files to create new step.

[2018-09-12 04:04] sguptatw commented on #18
Working as expected
[code]

[2018-09-12 04:04] #18 closed

[2018-09-12 04:06] sguptatw commented on #17
The issue is still replicable
<img width="609" alt="screen shot 2018-09-12 at 9 34 59 am" src="https://user-images.githubusercontent.com/6310197/45401639-30bb3380-b66f-11e8-967e-761b4bc141f7.png">

Steps - same as the original issue comment.

**Version**
[code]

[2018-09-12 05:11] shubhamsc commented on #17
Fixed are available with an environment variable.
need to set `gauge_exclude_dirs` in dotnet properties for excluding dirs(comma separated).

[2018-11-30 06:39] sswaroopgupta opened #30 "Add support for running asynchronous Steps"
### Proposed behavior
Should be able to deal with async/await natively

### Actual behavior
Step with async/await is allowed in Gauge-dotnet. However, the failure inside the step is not being taken into account.

**Steps to replicate**
* Create a dotnet project
* Add the following step
[Step("A step that returns Task")]
public async Task AsyncStep()
{
await Task.Delay(15);
throw new CustomSerializ

[2018-12-06 15:00] sguptatw opened #31 "Add a new step implementation in a new file - the step should be shown as implemented"
**Expected behavior**
Add a new step implementation in a new file - the step should be shown as implemented

**Actual behavior**
Add a new step implementation in a new file - the step is shown as unimplemented

**Steps to replicate**
* Create a `gauge-dotnet` project
* Add a new step
* Give the implementation in a new file
* Go back to the spec file
* Close the impl file.
* Go back to the spec fil

[2018-12-07 14:51] sguptatw opened #32 "Language runner processes are not killed even after the IDE is closed"
Expected behavior
When the IDE is closed the runner process must get killed

Actual behavior
Runner processes are not killed even after the IDE is closed

Steps to replicate

Open a gauge-dotnet project in the IDE and work on it
Close it
Repeat this for a few projects. Open the task manager you will see the relevant language runner process still running
Observed with gauge-dotnet

**Version**
[cod

[2019-01-03 01:03] harimadusumilli opened #33 "Cannot capture screen shot"
Hello Gauge Team,

We have installed the following software along with its plugins. I am using DotNet Core to run a selenium Test. When the Test fails, the screen shot is not captured.

gauge -v
Gauge version: 1.0.0
Commit Hash: 5a99965

Plugins
-------
csharp (0.10.5)
dotnet (0.1.0)
html-report (4.0.6)
java (0.6.9)
screenshot (0.0.1)

[AfterScenario]
public void TearDown() {
GaugeScreenshots.Capt

[2019-01-07 07:44] sriv commented on #33
Is there a project that I can run and take a look?

You probably need to implement a custom screenshot grabber to capture the screenshot from selenium. Perhaps this example can help :

[code]

[2019-01-11 01:52] sriv commented on #33
@harimadusumilli - did you get this working?

[2019-01-11 12:02] harimadusumilli commented on #33
Hello Srikanth,

Thank you for following up with me. We are still working on it. We will let you know either ways if it worked or did not. Thank you for the prompt follow up.

Regards,
Hari

Sent from Mail for Windows 10

From: Srikanth
Sent: Thursday, January 10, 2019 8:52 PM
To: getgauge/gauge-dotnet
Cc: harimadusumilli; Mention
Subject: Re: [getgauge/gauge-dotnet] Cannot capture screen shot (#3

[2019-01-12 05:02] gemunulk opened #34 "FileLoadException when System.Data.SqlClient is included to gauge-dotnet .csproj file."
### Expected behavior
Gauge dotnet project should work with [System.Data.SqlClient](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient?view=netcore-2.1)

### Actual behavior
` Failed to initialize suite datastore. Error: Connection closed [127.0.0.1:52720] cause: EOF
Gauge.Dotnet.GaugeListener System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.CompilerServi

[2019-01-23 10:21] #33 closed

[2019-01-30 10:50] negiDharmendra commented on #34
@gemunulk  I am not familiar with .Net eco system. Following reads might help you to resolve the issue.

https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions

https://github.com/dotnet/corefx/issues/30631

[2019-02-04 17:00] manavghaigithub opened #36 "Failed to initialize suite datastore. Error: Connection closed [127.0.0.1:62438] cause: EOF"
### Expected behavior
Gauge should run after incorporating System.Text.Encoding.CodePages

### Actual behavior
Gauge is not starting execution and throwing error message.

### Steps to reproduce
1. Create .Net Core project
2. Include EPPPlus.Core package from NuGet. Microsoft's System.Text.Encoding.CodePages is part of this package
3. Create any one step implementation
4. Run from command prompt u

[2019-02-06 10:16] nehashri commented on #34
please reopen the issue if you have any other concerns

[2019-02-06 10:16] #34 closed

[2019-02-06 11:11] BugDiver commented on #36
@manavghaigithub This issue is happening because `.Net core` could not load two different versions of same DLL.
The package `EPPPlus.Core` which you are trying to add uses `v4.4.0` of `System.Text.Encoding.CodePages` but the `.Net .core` runtime uses `v4.1.0.0`. So when the runner tries to load the project's assemblies it fails because some other version of the assembly is already loaded.

`.Net c

[2019-02-10 06:14] BugDiver commented on #36
@manavghaigithub Closing this since I don't think there is anything which can be done.
Please feel free to reopen if you think it's worth it.

[2019-02-10 06:14] #36 closed

[2019-02-10 13:54] manavghaigithub commented on #36
Vinay  - Would it be possible to update this DLL in Gauge’s .net core runtime engine? For now We were able to make it to work by downgrading dll that comes with EPPPlus.

I think Gauge should always update system/Microsoft dll’s whenever available, otherwise users will get these problems as Gauge is adapted by more people. Please advise.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________

[2019-02-10 14:11] BugDiver commented on #36
I agree, but I think it's a limitation with the language.
AFAIK It does not provide a way to load an already loaded DLL.
This can be done `.Net Framework` (not core) using `AppDomain`. `.Net Core` does not provide a way to create separate AppDomain.
I might be wrong since I don't have a very deep knowledge of `.Net` world.

/cc @sriv

[2019-02-10 19:12] manavghaigithub commented on #36
Hey Vinay - Who from Gauge team can look into this and put in the solution. As far as I understand the fix is to put latest .net System files in Gauge engine and this can be done only by Gauge team.

Thanks,
Manav Ghai

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Vinay Shankar Shukla <notifications@github.com>
Sent: Sunday, February 10, 2019 9:11 AM
To: getgau

[2019-02-11 09:39] BugDiver commented on #36
@manavghaigithub  The `gauge-dotnet` does not use `System.Text.Encoding.CodePages` directly, I guess it is used by the `.net core`  runtime itself.
I will investigate further and let you know if something can be done from our end.

[2019-02-11 12:09] manavghaigithub commented on #36
Thanks Vinay. I thought Gauge is having the older version of this DLL but that’s weird to say .Net runtime is not updated. Yes please run it through your team and in the mean time I will also run it through my .Net experts to see if they can throw some light.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Vinay Shankar Shukla <notifications@github.com>
Sent: Mon

[2019-02-13 11:34] BugDiver opened #37 "Release task 0.1.1"
These are the release activities to be performed when releasing Gauge dotnet.

## Pre release
- [x] Check all commits that has been added with this release and make sure the relevant issues are tested/closed.
- [x] Check if all relevant tests(FTs and LSP tests on gocd, travis) are passing
- [x] Take a call on release.

## Release
- [x] Trigger the dotnet-release pipeline
- [x] Make a note of all e

[2019-02-18 05:22] #37 closed

[2019-03-13 11:38] nehashri opened #38 "Add example for dotnet plugin with selenium"
Create a sample project to demonstrate selenium tests with gauge dotnet plugin.
The example should be similar to https://github.com/getgauge-examples/gauge-example-csharp

[2019-05-24 14:01] MysterL31 opened #39 "AssemblyLoader System.IO.FileNotFoundException"
Hi, currently facing an issue when executing **gauge run**
![Screenshot_25](https://user-images.githubusercontent.com/25892157/58332730-771d8080-7e01-11e9-9093-cab257987ab0.png)

Are you considering or have a assembly resolver when there are assembly dependent (https://github.com/dotnet/coreclr/issues/18410#issuecomment-396308448)?

[2019-05-27 06:46] BugDiver commented on #39
@MysterL31  Thanks a lot for the pointers. We will try and check it the solution given the comment works. We will be looking into this issue soon.

[2019-06-18 09:53] jiabiao commented on #30
Hi,  May I know when will this feature be released?

[2019-06-18 10:21] nehashri commented on #30
@jiabiao We have not decided on a timeline for this feature yet. We will look at this soon though.

[2019-06-18 13:47] RezaPouya opened #41 "Problem with .net core 2.1"
The gauge doesn't work with dot net core version 2.1 , it's fine with .net core 2.0 but
I can't use it in my .net core library , the gauge can't fin the file ....

[2019-06-19 01:09] jiabiao commented on #30
Thanks @nehashri.
If the gauge dotnet supports asynchronous steps, will you also add support for the enable_multithreading flag?
Otherwise, running asynchronous tasks one by one makes no sense.

[2019-06-19 04:35] nehashri commented on #30
@jiabiao Can you please raise a separate issue for multithreading?

[2019-06-19 06:32] jiabiao opened #40 "Add support for multithreading"
Currently, multithreading feature is only supported by Java language runner/plugin.

Given that gauge dotnet plan to add support for running asynchronous steps (https://github.com/getgauge/gauge-dotnet/issues/30), it would be better if guage dotnet supports  enable_multithreading flag at the same time. Otherwise running asynchronous tasks synchronously makes no sense.

[2019-06-27 05:15] BugDiver commented on #41
@RezaPouya We are unable to replicate your issue. I'm able to run the sample gauge dotnet project.
Here is my environment info

Gauge Info:
[code]

Dotnet info:
[code]
OS info:

[code]

Can you please provide some more info which can help us replicate your issue.

[2019-07-01 10:54] nehashri opened #42 "Structure log messages"
Gauge can now understand plugin's log messages when it is structured properly (refer getgauge/gauge#216) for changes made in Gauge. The runner must now start logging in this format so that Gauge understands the messages properly.

[2019-07-02 07:18] BugDiver commented on #40
We did some work (spike) to see how much effort it is to implement `multithreading`. The code is available in the `multithreading` branch.
We will triage the issue and try to push a release with the changes soon.

[2019-07-17 08:57] Debashis9012 commented on #42
At first run gauge run specs runners related information are not available
in gauge.log. Runners logs are appearing only after second run.

Gauge version: 1.0.6.nightly-2019-07-16
Commit Hash: 75d9328

Plugins
-------
dotnet (0.1.2.nightly-2019-07-15)
python (0.3.6.nightly-2019-07-16)
ruby (0.5.3.nightly-2019-07-15)

[2019-07-22 10:39] Debashis9012 commented on #42
Runners related logs added properly to gaulge.log file.
This has been verified and found fixed the below version.
[code]

[2019-07-22 10:39] #42 closed

[2019-08-01 06:06] pp1609 commented on #4
Which property we have to set true as i am also facing the same issue even after the NuGet package has been added to project.
Could not load file or assembly 'System.Configuration.ConfigurationManager, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified. (C:\Users\e3005457\AppData\Roaming\gauge\plugins\dotnet\0.1.1\bin\Config\machine.config line 3) ---> System.IO.FileN

[2019-08-01 17:08] manavghaigithub opened #47 "Unable to generate implementation. Error: Error while connecting to runner : rpc error: code = Unknown desc = Exception was thrown by handler."
I am getting error message when performing "Create Step Implementation" from spec file.

Steps to reproduce:
1. Create a new dotnet project
2. Create a new step
3. User gets an error message saying step implementation not found
4. Highlight on the step in spec file and select option "Create Step Implementation"
5. Select existing StepImplementation.cs file
6. Users gets an error
Unable to generate

[2019-08-02 08:58] pp1609 opened #43 "Could not load file or assembly 'System.Configuration.ConfigurationManager exception while executing code which is refernecing this library"
Hi,

While executing specs using Gauge i am getting following exception even after adding the System.Configuration.ConfigurationManager NuGet pacakge in the project. Can anyone please help .

Could not load file or assembly 'System.Configuration.ConfigurationManager, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified. (C:\Users\user\AppData\Roaming\gauge\plugins\dotne

[2019-08-02 09:18] sriv commented on #4
I am guessing that @marcosmlpf set `CopyLocal` to `true` in their project.

It would help if there is a sample project that can help us trace a cause. Would you be able to share one @pp1609 ? Thanks.

[2019-08-02 09:18] sriv commented on #43
related #4

[2019-08-02 09:41] pp1609 commented on #4
@sriv will definitely share the project. Can you also please help me identifying that why the error is referring to a file which doesn't exist:
C:\Users\user\AppData\Roaming\gauge\plugins\dotnet\0.1.1\bin\Config\machine.config line 3

I am not seeing any folder named Config in bin directory of dotnet plugin. still the exception is referring to that path.

[2019-08-02 09:58] sriv commented on #4
`machine.config` is a machine level configuration file that dotnet framework uses to read configuration values. (see https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/)

In this case, I am guessing that the ConfigurationManager is invoked to read some config value, and the framework is falling back to read the machine config since it could not find a `app.config` in the working dire

[2019-08-02 10:17] pp1609 commented on #4
My project is targetting .net core(netstandard2.0). Also I have added NuGet package System.Configuration.ConfigurationManager  in my project but still facing issue.

[2019-08-05 18:17] marcosmlpf commented on #4
Hello, it's been a while, but as far as I remember, I've added this attribute to Gauge.Dotnet csproj

<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>

[2019-08-07 09:03] pp1609 opened #45 "Failed to initialize suite datastore. Error: Connection closed [127.0.0.1:59020] cause: EOF"
Hi,

I am trying to run gauge test in .netcoreapp3.0 but not able to proceed as getting following error:

Failed to initialize suite datastore. Error: Connection closed [127.0.0.1:59020] cause: EOF

Gauge.Dotnet.GaugeListener System.IO.FileLoadException: Could not load file or assembly 'Microsoft.CodeAnalysis.CSharp, Version=3.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.
   at System.

[2019-08-08 04:52] shubhamsc opened #46 "Release Task v0.1.2"
These are the release activities to be performed when releasing Gauge Dotnet.

## Pre-release
- [x] Check all commits that have been added with this release and make sure the relevant issues are tested/closed.
- [x] Check if all relevant tests(FTs and LSP tests on GOCD, Travis) are passing
- [x] Take a call on release.

## Release
- [x] Trigger the Dotnet release pipeline
- [x] Make a note of all

[2019-08-08 06:47] shubhamsc commented on #45
@pp1609 There was a similar issue. Refer #36
Check the comments, might help you to resolve the issue.

[2019-08-12 05:18] BugDiver commented on #45
@pp1609 The .Net Core 3.0 is not officially released yet. Are trying to use Gauge with Dotnet `preview` version?

[2019-08-12 06:07] #43 closed

[2019-08-14 06:14] Debashis9012 commented on #47
This issue has been verified and found fixed.
Tested version:
[code]

[2019-08-14 06:14] #47 closed

[2019-08-15 15:27] pp1609 commented on #45
I found the reason of the issue. The issue was appearing when i was referencing some other project in gauge project.

[2019-08-15 15:30] pp1609 opened #48 "An exception of type 'System.ArgumentNullException' occurred in System.Private.CoreLib.dll but was not handled in user code: 'Value cannot be null.'"
Hi,

I am trying to add extent report core package in gauge project. The same package is working fine in console/Nunit .netcoreapp2.2 project but in gauge the exception is throwing as soon as reporter is getting attached.
 at System.IO.StreamReader..ctor(Stream stream, Encoding encoding, Boolean detectEncodingFromByteOrderMarks, Int32 bufferSize, Boolean leaveOpen)
   at AventStack.ExtentReports.R

[2019-08-16 09:27] Apoorva-GA commented on #41
Closing this due to inactivity. Feel free to reopen if you are still facing the issue.

[2019-08-16 09:27] #41 closed

[2019-08-20 06:24] luciferankon commented on #45
@pp1609 Hey is the issue resoved?

[2019-08-26 06:05] Apoorva-GA commented on #48
@pp1609 Could you give us more info so that it will be helpful for us to debug the issue.
- OS information
- Run `gauge -v` and paste the result
- Steps to reproduce the issue.

[2019-09-10 11:35] nehashri commented on #48
@pp1609 Can you please provide more details as mentioned by @Apoorva-GA

[2019-09-10 11:36] nehashri commented on #45
@pp1609 Please reopen the issue if you are still facing this.

[2019-09-10 11:36] #45 closed

[2019-09-19 05:45] shubhamsc commented on #48
Closing this issue due to inactivity. Please feel free to reopen this if you still getting the same error.

[2019-09-19 05:45] #48 closed

[2019-09-27 11:53] #46 closed

[2019-10-18 07:08] pp1609 opened #49 "Unable to use System.Drawing.common library with gauge"
Hi,

I have a requirement to use Methods in System.Drawing.common library methods. In simple dotnet core project it is working but with Gauge the same is not working and producing following error:
![Error](https://user-images.githubusercontent.com/36397242/67073304-70bee500-f1a4-11e9-8267-fbe6928a839b.png)

Thanks,
Preeti

[2019-10-23 10:55] nehashri commented on #49
@pp1609 Is there any reason to use `System.Drawing.common` library instead of others like [ImageSharp](https://github.com/SixLabors/ImageSharp?WT.mc_id=-blog-scottha)?
The issue is most likely due to gauge loading the step implementations for execution.

[2019-10-23 11:13] pp1609 commented on #49
Yes i can use ImageSharp for image processing but i need some way to capture the desktop screenshot in my automation, and didn't find any way for that other then System.Drawing.common library.

[2019-11-04 08:09] shubhamsc commented on #49
@pp1609 Did you check the taking screenshot with Gauge?
you can capture the desktop screenshot with gauge by adding this line `GaugeScreenshots.Capture();` in your implementation code. and you can customize the behaviour of taking a screenshot with the [custom screenshot](https://docs.gauge.org/writing-specifications.html?os=windows&language=csharp&ide=visualstudio#taking-custom-screenshots).

[2019-11-13 12:01] sriv commented on #49
So, I've been looking at this for the last two days. My suspicion originally was that perhaps gauge-dotnet was not probing the satellite assemblies properly. I don't think that is the case here.

The problem seems specific to `System.Drawing` and it's availability on various platforms. Since the `System.Drawing` namespace exposes GDI+ functionality, it also requires to make some system calls, whic

[2019-11-14 01:42] sriv commented on #49
I'll mark this issue as closed for now, as I cannot see anything that can be done as part of gauge-dotnet to address this. Please comment to let us know, if otherwise.

[2019-11-14 01:42] #49 closed

[2019-11-27 00:16] nablik commented on #33
I am facing a strange behavior in my side with regards to the screenshot on failure.

gauge --version
Gauge version: 1.0.6
Commit Hash: 2bc49db

Plugins
-------
dotnet (0.1.2)
html-report (4.0.8)
screenshot (0.0.1)
xml-report (0.2.2)

So, locally, works like a charm, But when the same test is run on a VM thru VSTS or azuredevops there are no screenshots. is it because the vm has been used as an ag

[2019-11-27 12:00] zabil commented on #33
The most probable cause is that the tests are running in a headless environment. The default screenshot tool captures the current desktop.

To either capture only the browser page screenshots especially in a headless environment please override the default screenshot behaviour. For more info please read
https://docs.gauge.org/writing-specifications.html?#taking-custom-screenshots

[2019-12-14 04:32] jenniferz79 opened #51 "In .Net Core Gauge project, step implementation is not recognized when in it is in the referenced project"
Steps to Reproduce
-----------------------
* Create a Gauge Test Project: project1
* Add another Gauge Test Project: project2 in the same solution.
* In project2, create spec file.
* In project1, create steps implementation.
* In project2 add reference to project1.
* Use command to 'gauge run specs'

Actual Behavior
---------------------
Exceptions thrown, showing step implementation not found.

E

[2019-12-16 06:36] shubhamsc commented on #51
@jenniferz79  Thanks for reporting this problem.
I can replicate the same with gauge-dotnet. Gauge team will look into it soon.

[2019-12-31 06:20] BugDiver opened #53 "Not compatible with latest dotnet core sdk [windows]"
The Gauge Dotnet projects do not work with the latest .Net Core (3.1.0)

## Steps to reproduce
* Install dotnet core sdk version 3.1.0
* Install gauge version 1.0.6
* Install gauge-dotnet version 0.1.2
* Create a sample project `gauge init dotnet`
* Run the project `gauge run specs`
* Get the following error

[code]

#### Note
Noticed this issue specifically on **Windows** machine

[2020-01-15 03:45] jenniferz79 commented on #51
Hi, is there any update for this issue? Thanks~

[2020-01-16 04:48] sriv commented on #51
hi - we are working on changing the underlying mechanism used for gauge and it's plugins (the newer versions will be using gRPC) - this is in the backlog and will get picked up post that.

[2020-02-05 06:08] sriv commented on #53
Works for me on linux with

[code]

[2020-02-12 04:25] jenniferz79 commented on #51
Hi there,
Just want to ask, when this issue will be planned to be picked? Sorry for keeping asking, as my team is trying to make decision on whether choose gauge as our automation test framework, and this issue is very crucial (a big blocking issue) for our decision making. Thanks~

[2020-02-12 04:37] sriv commented on #51
hi @jenniferz79 - appreciate your patience. We made a release for gauge `1.0.7` just yesterday and the plugins should follow. You should be able to see the dotnet plugin `1.0.3` released soon and this should address your case.

Thanks for trying Gauge.

[2020-02-12 07:47] sriv commented on #51
I replied in haste, apologies. This is yet to be fixed. I spent some time to analyze the cause, findings below.

### Dev Notes
When Static Parsing was introduced, it assumed that the implementations will be in `GAUGE_PROJECT_ROOT` or it's subfolders. This is not the case in a referenced project.

Note that the referenced project is built when `gauge run` is invoed, the assembly is copied over to `

[2020-02-13 01:58] jenniferz79 commented on #51
@sriv , thanks for the quick response, and analyze, which is very helpful.
I tried to tweak the implementation in StaticLoader.LoadImplementations a bit, and it does fix the issue.
So we decide to start using gauge-dotnet plugin with my local modification temporarily, it is kind of workaround.
Please let me know when you release fix for it officially, hope it will be soon.
Thanks again for your he

[2020-02-13 02:03] sriv commented on #51
@jenniferz79 - great news! Would you be interested in submitting a PR?

[2020-02-13 20:26] jenniferz79 commented on #51
@sriv , my local modification is just a temporary workaround for now. To use it would need to export new environment variable. I don't think this solution is good enough to put into main repo. That's why I am still hoping we can get this issue solved officially.
I plan to spend more time to see if I can get better solution for it. If I find one, I will let you know.
Please also let me know if you

[2020-02-17 06:52] Debashis9012 opened #56 "unable to install gauge-donet from source"
## Excepted Result:
Should be able to install `gauge-dotnet` runner form source successfully.

## Actual Result:
Getting below error:
[code]

## Steps to reproduce:
1. clone `gauge-dotnet` repo
2. install from source ` ./run.cmd forceinstall`

[2020-02-17 19:47] Thunderforge opened #58 "Ubuntu CI checks are broken"
When someone submits a PR to this project, a number of Continuous Integration checks are run, namely

1. tests / Dotnet build (ubuntu-latest)
2. tests / Dotnet build (windows-latest)
3. tests / Dotnet FTs on ubuntu-latest
4. tests / Dotnet FTs on windows-latest
5. tests / Dotnet LSP tests ubuntu-latest
6. tests / Dotnet LSP tests windows-latest
7. verification/cla-signed

Tests number 3 and 5 are

[2020-02-17 19:48] Thunderforge commented on #56
This same error also happens with `./run.cmd package`.

[2020-02-18 05:55] negiDharmendra commented on #58
@Thunderforge this issue should be resolved now. Refer to [this comment ](https://github.com/getgauge/gauge-dotnet/pull/57#issuecomment-587287102) in #57

[2020-02-18 08:37] Debashis9012 opened #60 "Release Task v0.1.3"
These are the release activities to be performed when releasing Gauge Dotnet.

## Pre-release
- [x] Check all commits that have been added with this release and make sure the relevant issues are tested/closed.
- [x] Check if all relevant tests(FTs and LSP tests) are passing
- [x] Take a call on release.

## Release
- [x] Trigger the Dotnet release pipeline
- [x] Make a note of all external contrib

[2020-02-18 18:54] #58 closed

[2020-02-21 11:54] Debashis9012 opened #62 "Released dotnet is not working as excepted."
- While running `gauge run specs ` getting the below error:

[code]

[2020-02-21 19:25] manavghaigithub opened #63 "Gauge is not able to call step from DLL"
Problem Statement:
We have a reusable step which is being used across projects so we thought of packaging it into the DLL and then have projects call this DLL as a reference in there .Net project

### Expected behavior
User should be able to use step in spec file even though the step is in DLL file

### Actual behavior
User is not able to use step if the step is in DLL file. User gets "Step implem

[2020-02-24 04:32] BugDiver commented on #62
After some debugging, I figured out that there release artifacts do not contain required `dlls`  thus this issue is happening.

[2020-02-24 07:14] BugDiver commented on #62
This issue has been fixed, the released artifacts have been updated.

[2020-02-24 07:14] #62 closed

[2020-02-24 07:35] BugDiver commented on #63
Looks related to #51

[2020-02-24 10:27] BugDiver commented on #56
This has been fixed via fe7d5b7a8fa2f0aeb1f6fa6fede5267be9b28997

[2020-02-24 10:27] #56 closed

[2020-02-28 05:25] #60 closed

[2020-03-19 09:50] #63 closed

[2020-03-19 09:50] #51 closed

[2020-03-25 00:56] jenniferz79 commented on #51
@sriv I checked out your latest fix for dotnet. It seems work, I can run the case with reference project as below.
[code]
But, when I am trying to use vscode IDE, to click the step in specs, it still can not find step implementation in referenced project. Gauge vscode plugin showing error as below:
[code]
Does it mean the vscode plugin also needs some update for this referenced project steps worki

[2020-03-25 10:26] sriv commented on #51
@jenniferz79

this is by design, because there isn't an obvious way to show definitions from a project that may not be loaded. If you have any suggestions, we are all ears!

That said, you should still be able to execute the project.

[2020-03-25 20:36] jenniferz79 commented on #51
@sriv thanks for the reply.
One more question, while we are referencing steps implemented in the other project, and that project is being loaded and opened, in the same solution, in vscode IDE, can we go to the steps implementation by ctrl-click the steps in spec?
In visual studio IDE, .net framework gauge, it support to find the steps implementation in the same solution but different project.
I r

[2020-03-27 08:00] sriv opened #65 "Handle and return proper error details"
## Expected Behaviour
gauge-dotnet should return a proper `RpcException` when there is an exception while processing the request.﻿

## Actual Behaviour

The underlying error causes the handler to crash and as a result the error reported is what gRPC throws. This is cryptic and does not help isolate the actual cause.

## Version Information

Noted in gauge-dotnet `0.1.4`

[2020-03-30 04:39] jenniferz79 commented on #51
@sriv , how are you doing?
Our company is in the decision making on whether to use Gauge or not? If possible, could you help give us some info on future Gauge development?
- I found in the Gauge homepage, now only vscode IDE is supported. Does it mean Gauge decided to shrink only support vscode in the long run?
- How Gauge is planning to support multiple projects, e.g. steps and specs in different

[2020-03-30 08:42] zabil commented on #51
Sure

Yes

Right now you can share steps across projects and the tests will run fine. It's only the IDE part of jumping across defnitions in other projects that do not work. Unfortunately, it's difficult implement these IDE features and not being worked upon any time soon as there are other issues with higher priority. Any help is appreciated.

At this point, no.

[2020-03-31 20:08] jenniferz79 commented on #51
@zabil , thank you for your reply.

[2020-04-01 06:13] jenniferz79 opened #67 "Including System.Data.SqlClient nuget package causes exception with rpc error"
Steps to Reproduce
-----------------------
* Create a gauge dotnet project, netstandard 2.0
* Install Nuget package System.Data.SqlClient
* Try to run the project.

Gauge version: 1.0.8
Commit Hash: 28617ea

Plugins
-------
csharp (0.10.6)
dotnet (0.1.3)
html-report (4.0.10)
java (0.7.4)
js (2.3.8)
reportportal (1.1.0)
screenshot (0.0.1)
xml-report (0.2.3)

Actual Behavior
---------------------
Ex

[2020-04-01 11:32] sriv commented on #67
`Error: rpc error: code = Unknown desc = Exception was thrown by handler.` is a cryptic error message. It's thrown by the framework used. There's a PR #66 that is aimed at bringing out the underlying error.

Now, I suspect `System.Data.Sqlclient` (or one of it's dependency) did not load properly. In my machine it failed and the actual error was:

[code]

I am trying to see why this is the case and

[2020-04-01 22:24] jenniferz79 commented on #67
@sriv , thanks for reply.
I also failed at loading 'Microsoft.Win32.Registy'. But, I found if I lower the System.Data.Sqlclient nuget version to 4.4.0, I can pass above error. But, it failed at last when loading System.Text.Encoding.CodePages.dll.
[code]
I tried to build gauge-dotnet with the link, it failed.
[code]

[2020-04-01 23:23] jenniferz79 commented on #67
I compiled the latest one in master, it printed out error as below:
[code]

[2020-04-03 02:56] sriv commented on #67
Regarding `No such host is known.` error I see that nuget is hitting `http://dsbuild01:8300/` - perhaps you have a local nuget host setup? Would you be able to use `nuget.org` to build?

As for `System.IO.FileLoadException: Could not load file or assembly 'System.Text.Encoding.CodePages, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.` - I am still uncertain if this has anythin

[2020-04-03 06:24] #65 closed

[2020-04-06 03:58] jenniferz79 commented on #67
@sriv I found some nuget packages exist in 'Gauge.Dotnet.deps.json', but with lower version. When the same nuget package is referenced in the my gauge project, with higher version, it will throw exception when loading this .dll.
Currently, I am using a workaround: add System.Data.SqlClient and Microsoft.Win32.Registy nuget packages in gauge-dotnet, and re-build and re-package it. It works well. Bu

[2020-04-06 11:09] sriv commented on #67
@jenniferz79 - thanks for the investigation. Would you be able to suggest which nuget packages are of lower versions in Gauge.Dotnet? If there isn't a good reason, we'll update the deps.

As for adding System.Data.SqlClient - I understand it is important for users, but I must admit that I am hesitant to add packages as dependencies without actually needing them in Gauge.Dotnet.

[2020-04-06 22:18] jenniferz79 commented on #67
@sriv, System.Data.SqlClient has several dependence packages.
For example, System.Text.Encoding.CodePages, in dotnet, it is 4.3.0, which is too old. This will cause exception. There are several other dependence packages, they are all basic utilities, but in guage.dotnet, it is using quite old version.
I can understand adding some packages not used by gauge is quite strange. But as it includes many

[2020-04-06 22:33] jenniferz79 opened #68 "gauge-dotnet using different thread id in one run, which causes problem if using webdriver ThreadLocal"
Steps to Reproduce
-----------------------
* Create a gauge dotnet project, netstandard 2.0
* In the every example steps implementation, add print to print thread id as below:
[code]
* Then run the spec
[code]
Actual Behavior
---------------------
It turned out the thread id is changing in the same run, which is quite wired. Is it as designed?
[code]

Expected Behaviour
----------------------
Thre

[2020-04-07 11:09] sriv commented on #68
gauge-dotnet (and gauge) now use gRPC to communicate, which by design uses threads to process the requests. gauge-dotnet does not intentionally do this.

I think I understand your use case, I am trying to think of a clean way to achieve this. Would you have a sample project where I can see webdriver being used as ThreadLocal?

[2020-04-07 12:40] sriv commented on #68
Note that you can use `Datastores` to persist objects. You can choose a datastore depending on how long you'd like the object to live. Does this help?

[2020-04-07 20:43] jenniferz79 commented on #68
@sriv , thanks for the reply.

* Why gauge csharp does not have this problem? Only dotnet is having this unexpected multi-threading.

* The whole implementation of webdriver includes many classes, and it is not convenient to share the whole repo. But the idea is similar to this: https://consolidatedchaos.com/2018/11/07/design-selenium-framework-with-c-part-3/

* Actually, I have changed the webdri

[2020-04-08 08:19] zabil commented on #68
Unlike the csharp plugin the dotnet plugin uses a completely different technology (grpc) this relies on a different threading mechanism. That way the dotnet plugin is very different, for the better.

This is the right way of doing it. Even in the samples of Gauge, the webdriver instance is passed around as a singleton.

Thanks for pointing this out. The recommended way of passing webdriver is usin

[2020-04-08 08:19] #68 closed

[2020-04-08 08:33] zabil commented on #67
In the interest of actually fixing this issue. I'd like to point out to our code of conduct. Especially around showing empathy.

https://github.com/getgauge/gauge-dotnet/blob/master/CODE_OF_CONDUCT.md#our-standards

There are two options here
* Help us fix the issue, either with constructive comments or sending a pull request.
* Choose another tool which will meet your project's requirement better

[2020-04-10 08:55] #67 closed

[2020-04-10 11:01] NivedhaSenthil commented on #67
New version of dotnet (0.1.4) is released with updated references. Please do update and check.

[2020-04-13 10:46] NivedhaSenthil commented on #53
Dotnet plugin is updated to use .Net core 3.0 from version `0.1.4`.

[2020-04-13 10:46] #53 closed

[2020-04-20 10:11] sustundag opened #80 "System.Data.SqlClient & Microsoft.Data.SqlClient PlatformNotSupportedException"
Hi,

I have to execute crud queries on sql server to prepare test data before and after specs.
But I am getting **PlatformNotSupportedException**.

_ps: Development environment windows 10, Visual Studio Code_
To reproduce the exception;

**Scenario A:**

1) I have created a new template project with gauge init dotnet and run the specs. Everything was ok.
Versions:
**_Project:_**
TargetFramework:ne

[2020-04-22 05:25] 82949712 commented on #80
same issue here

[2020-04-22 12:42] sriv commented on #80
I can see this issue as well.

While Gauge does not deal with any database related libraries, in this case what's happening is that the Assemblies referenced are loaded using ApplicationLoadContext.Default.LoadAssemblyFromStream - and this is causing this error (for reasons yet unknown to me). This issue seems related: https://github.com/dotnet/runtime/issues/27899

As far as gauge-dotnet is conce

[2020-04-24 06:55] sriv commented on #80
After some headbanging, I discovered that `Microsoft.Data.SqlClient` has this check - https://github.com/dotnet/SqlClient/blob/9e13645313d69e783998de47ada0ec186b0d3f9e/src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj#L5

Which looks at the targetOS of the project built and it has to be a valid runtime id (Ref: https://docs.microsoft.com/en-us/dotnet/core/rid-catalog)

Basic

[2020-04-28 10:41] #80 closed

[2020-05-08 16:55] sustundag opened #85 "BadImageFormatException"
Hi,
I recently created an issue with Sql access.
[Issue 80](https://github.com/getgauge/gauge-dotnet/issues/80)
Firstly, Thank you for your support on the subject.
Demo application which I worked is same with on issue 80.

As you suggessed, I set the runtime like below.
dotnet.properties file:
GAUGE_CSHARP_PROJECT_CONFIG=release --runtime=win-x64

And then, I defined a valid connection string to m

[2020-06-04 14:37] sriv commented on #85
apologies for the delay - is this still an issue?

if so, could you upload the project some place, and I'll try to debug it.

[2020-06-05 08:41] sustundag commented on #85
Hi @sriv

I upgraded sample project latest version and tested again. yes, this is still an issue.
Here you can find the sample project.
[sampleproject](https://drive.google.com/drive/folders/14O8tHcKv9iEGlM81O6y1OgpU0p-BTy7m?usp=sharing)

Thank you for your support
Serkan

[2020-06-20 16:34] aerotog opened #91 "Tests are failing"
On latest master, a couple tests are failing.

Tests were passing as of 2f4b718f030d586d26a8173874cad8928a5d0a9b

Upgrading MOQ from 4.13 to 4.14 broke ShouldGetTargetAssembly
96b73fc07f8445ec40dd4ee07b4cc7349eb81a9f

Licence change to Apache 2 broke ShouldProcessMessageForExistingClass
bda39f3e80b10915f818ceb8563087b91ed5454b

It looks like there were no actual code changes. The tests are failing

[2020-06-20 16:37] aerotog opened #92 "Travis build is failing"
The Travis build has been [failing for 8 months](https://travis-ci.org/github/getgauge/gauge-dotnet/builds). It looks like the last run was 7 months ago, so perhaps the Travis builds have been disabled.

The most recent build failed to pull a cert from a URL but the URL does exist.

[2020-06-20 18:06] sriv commented on #91
hi @aerotog - thanks for bringing this up.

GH actions reported the checks passed

- https://github.com/getgauge/gauge-dotnet/runs/687739226?check_suite_focus=true
- https://github.com/getgauge/gauge-dotnet/runs/621723638?check_suite_focus=true

The PRs are merged only when all checks passed. Need to investigate why the errors aren't breaking the builds.

A PR would be most appreciated! Thanks in

[2020-06-20 18:09] sriv commented on #92
thanks for reporting this. We moved all our builds to github actions, and I see that we've missed updating the README badge.

You can see newer builds here: https://github.com/getgauge/gauge-dotnet/actions

[2020-06-20 18:10] aerotog commented on #91
The builds may have passed, but the tests failed even then:

Total tests: 138
     Passed: 137
     Failed: 1

Total tests: 28
     Passed: 27
     Failed: 1

[2020-06-20 18:15] aerotog commented on #92
I'll look into updating the README badge to use GH actions.

[2020-06-20 20:26] aerotog commented on #91
I've updated the run scripts so the Github actions will catch test failures. You can see the expected build failures in my personal fork [here](https://github.com/aerotog/gauge-dotnet/runs/791378145?check_suite_focus=true).

I'll open a PR once I have the tests passing again.

[2020-06-25 21:19] raweaver opened #96 "Object cache not cleared according to gauge_clear_state_level"
I noticed with Gauge 1.1.1 and dotnet 0.1.4 plugin that Gauge is not clearing the object cache according the setting in `gauge_clear_state_level`.

To reproduce the issue:
1. Create a new directory
2. Create a new gauge project
`using gauge init dotnet`
3. Open folder in Visual Studio Code
4. Confirm `gauge_clear_state_level` is set to `scenario`
5. Add constructor to StepImplementation class to l

[2020-07-03 05:31] NivedhaSenthil commented on #92
Closing as the ReadMe is updated

[2020-07-03 05:31] #92 closed

[2020-07-03 05:32] NivedhaSenthil commented on #91
Fixed by 7ef9328

[2020-07-03 05:32] #91 closed

[2020-07-09 10:00] sriv commented on #85
hi, I can confirm that this is an issue with gauge-dotnet.

I used this sample project -
[gauge-dotnet-sqlite-example.zip](https://github.com/getgauge/gauge-dotnet/files/4895937/gauge-dotnet-sqlite-example.zip)

This tries to use `EntityFramework` to connect to a sqlite database.

Note that there are two ways to run this project:

- when run using `dotnet run` it runs this project as a standalone

[2020-07-13 06:23] BugDiver commented on #96
@raweaver Thanks for reporting the issue and the detailed explanation.

Since you have already figured the possible solution, would you like to submit a PR? We would be happy to discuss/merge it.

[2020-07-15 05:14] #96 closed

[2020-08-06 04:45] myakkala-qa opened #101 "Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe"
Hi There,

I am using Microsoft.Extensions.Configuration to read the configurations from a config file, but encountering the following error message

Unhandled Exception:
System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
at System.Runtime.Loader.AssemblyLoadContext.LoadFromStream

[2020-08-07 06:25] sriv commented on #101
hi - can you share a sample project for us to replicate this? that would also help confirm that whatever we change would fix this.

[2020-08-21 03:09] NivedhaSenthil commented on #101
@myakkala-qa any updates ?

[2020-08-24 10:36] myakkala-qa commented on #101
Hi There,

I just created a sample project and added Microsoft.Extensions.Configuration package to the project. After that when I run a example scenario the reported error message is encountered.
[TestGuage.zip](https://github.com/getgauge/gauge-dotnet/files/5117255/TestGuage.zip)

Please do let me know for further information.

Thanks,
Mani

[2020-08-25 09:27] sriv commented on #85
should be fixed via #106 and released as part of gauge-dotnet v0.1.6. Closing this, please comment if this is still an issue.

[2020-08-25 09:27] #85 closed

[2020-08-25 09:28] sriv commented on #39
should be fixed via #106 and released as part of gauge-dotnet v0.1.6. Closing this, please comment if this is still an issue.

[2020-08-25 09:28] #39 closed

[2020-08-25 09:28] sriv commented on #4
should be fixed via #106 and released as part of gauge-dotnet v0.1.6. Closing this, please comment if this is still an issue.

[2020-08-25 09:28] #4 closed

[2020-08-25 09:28] sriv commented on #101
should be fixed via #106 and released as part of gauge-dotnet v0.1.6. Closing this, please comment if this is still an issue.

[2020-08-25 09:28] #101 closed

[2020-09-02 16:14] raweaver opened #110 "Execution hooks failing with Execution Context"
Using version 0.1.6 of dotnet plugin, the Execution Hooks fail when using the ExecutionContext argument. The following stack trace is from a failure to execute a BeforeScenario hook.

Reverting to version 0.1.5 of the dotnet plugin allowed us to run the scenario successfully with the Execution Hooks utilizing the ExecutionContext.

Reviewing the tests, it appears the Execution Hooks are only testi

[2020-09-04 13:45] ismailmutlu commented on #110
Last version (0.1.6) of dotnet plugin causes this failing, when using ExecutionContext parameter in hook methods
(Gauge Versions => 1.0.7, 1.0.8, 1.1.0, 1.1.1, 1.1.3)

Also this dotnet version causes timeout exception (Timed out connecting to 127.0.0.1:50498) for Gauge Version 1.0.6 (Commit Hash: 2bc49db).

[2020-09-07 05:56] sriv commented on #110
thanks for reporting, can replicate this issue. Will roll out a fix.

[2020-09-08 05:25] #110 closed

[2020-09-10 06:13] preetipadalia opened #113 "Sequence contains no matching element error while running"
Hi,

I am trying to run the project but getting following error.
Error Message: Sequence contains no matching element
Stacktrace:
at System.Linq.ThrowHelper.ThrowNoMatchException()
at System.Linq.Enumerable.First[TSource](IEnumerable1 source, Func2 predicate)
at Gauge.Dotnet.AssemblyLoader.GetLibType(LibType type)
at Gauge.Dotnet.ExecutionOrchestrator.GetAllPendingScreenshotFiles()
at Gauge.Dotnet

[2020-09-10 06:20] preetipadalia opened #114 "Unable to debug the project in vscode as dlls are getting blocked by some other process instantiated by vscode extension"
Hi,

I am unable to debug the project because the dlls are getting blocked by some other process initiated by vscode extension. When i kill the process i can debug the code but then intellisense stop working.

PFB the error:
error MSB3021: Unable to copy file "C:\Users\user.nuget\packages\fluentassertions\4.19.4\lib\netstandard1.3\FluentAssertions.Core.dll" to "Sample\gauge_bin\FluentAssertions.Co

[2020-09-10 08:35] sriv commented on #113
What is the version of `Gauge.CSharp.Lib` in your project?

[2020-09-10 08:41] preetipadalia commented on #113
its 0.7.3.

[2020-09-10 08:51] sriv commented on #113
Can you upgrade it to the latest (https://www.nuget.org/packages/Gauge.CSharp.Lib/0.7.8) ?

[2020-09-11 09:29] preetipadalia commented on #113
After Upgrading it started working thanks.

[2020-09-11 09:30] preetipadalia commented on #114
I am getting the same option for Run Scenario also.

[2020-09-14 03:46] sriv commented on #113
reopening = gauge-dotnet should handle this better.

[2020-09-14 07:51] sriv commented on #114
I was finally able to get hold of a windows box, and can see this issue for both run and debug.

This happens because the test project assemblies are loaded into a custom load context, which locks the files loaded. Run/Debug launch independent processes and these processes are not able to access the files locked by the original process spawned to help the LanguageServer.

Will raise a PR with a fi

[2020-09-14 08:28] sriv commented on #32
closing as stale, feel free to comment if you still see this behaviour

[2020-09-14 08:28] #32 closed

[2020-09-14 08:29] sriv commented on #3
This should be fixed by now (i.e. runner logs are in lsp.log).

[2020-09-14 08:29] #3 closed

[2020-09-14 08:29] sriv commented on #31
works as expected in gauge-vscode, closing.

[2020-09-14 08:29] #31 closed

[2020-09-14 10:01] preetipadalia commented on #114
@sriv I see this is closed. Is it available to test?

[2020-09-14 10:12] #113 closed

[2020-09-14 10:36] sriv commented on #114
yes, please update your gauge-dotnet plugin to [0.1.8](https://github.com/getgauge/gauge-dotnet/releases/tag/v0.1.8) and try. 1

[2020-09-14 10:57] preetipadalia commented on #114
I can still see this issue.
C:\Program Files\dotnet\sdk\3.1.302\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Publish.targets(147,5): warning MSB3026: Could not copy "obj\Debug\netstandard2.0\win-x64\netcore-template.dll" to "c:\Learning\GaugeTesting\gauge_bin\netcore-template.dll". B
eginning retry 2 in 1000ms. The process cannot access the file 'c:\Learning\GaugeTesting\gauge_bin\netcore-template

[2020-09-14 11:02] sriv commented on #114
When do you see this?

[2020-09-14 11:25] preetipadalia commented on #114
When I click on Debug/Run Scenario. When it is trying to publish the project to gauge_bin.

[2020-09-14 12:39] preetipadalia commented on #114
can we please open this again as the issue still not fixed.

[2020-09-14 12:48] sriv commented on #114
Strange, can you try in a new project (ensure that old gauge processes are not running, i.e. close existing editors, perhaps even reboot your machine)

Here's what happens on my Windows VM:

![gauge-dotnet-debug_win](https://user-images.githubusercontent.com/389148/93086438-c2be0280-f6b4-11ea-95b7-5cafcc3e8127.gif)

[2020-09-14 12:49] sriv commented on #114
Don't mind reopening, but would need help in replicating this.

[2020-09-14 17:34] preetipadalia commented on #114
I am sharing my system environment details. Can you please share yours so that I can verify by replicating your environment.

Following is my working environment detail:
gauge extension version : 0.0.15
dotnet version: 3.1.302

gauge versions:
Gauge version: 1.1.4
Commit Hash: c982558

Plugins
-------
dotnet (0.1.8)
html-report (4.0.8)
screenshot (0.0.1)

[2020-09-15 06:59] preetipadalia commented on #114
Hi @sriv,

Following are few findings which I have experienced.

1. Sometimes debugging is working and sometimes it's not.
2. When debugging is not working I Can see there are two dotnet processes available in the taskbar while in the other case only 1 dotnet process would be there.
2. In the Sample project with target framework netstandard 2.0 breakpoints are working, but if I change it to netcor

[2020-09-15 07:37] sriv commented on #114
Thanks for sharing the points @preetipadalia , appreciate it.

Could you try something: Add `GAUGE_IGNORE_RUNNER_BUILD_FAILURES = true` in your `env/default/default.properties` and if that helps you run/debug?

[2020-09-15 08:58] preetipadalia commented on #114
Getting following error with this setting:

  failed to initialize suite datastore. Error: Object reference not set to an instance of an object.

[2020-09-15 11:06] preetipadalia commented on #114
@sriv I just found this:
https://github.com/getgauge/gauge-dotnet/issues/80

how can set runtime in publish command. Can you please tell me what value i need to set in properties file.

[2020-09-15 11:29] preetipadalia commented on #114
I am not able to take this build but if there is any workaround for SQLData client platform not supported issue can you please explain. That would be very much helpful.

[2020-09-17 04:22] sriv opened #117 "migrate to grpc-dotnet"
this project uses Grpc.Core to communicate with Gauge. Grpc.Core has native bindings, making it platform specific.

Currently gauge-dotnet does a universal publish to all platforms, and this increases the final artifact size.

grpc-dotnet is a newer implementation, which this plugin should attempt to migrate to.

[2020-09-17 09:46] preetipadalia commented on #114
@sriv any update on this issue?

[2020-09-17 09:56] sriv commented on #114
no, not yet. will post when I figure out more.

[2020-09-18 10:04] #114 closed

[2020-09-18 10:09] sriv commented on #114
@preetipadalia can you try now with gauge-dotnet 0.1.9?

[2020-09-18 10:28] preetipadalia commented on #114
@sriv finally I am not getting the process is being used error.  Thanks a lot for solving the issue.

I am getting exception while flushing the extent reports in the new releases of the gauge. Should I raise a new JI for this?

[2020-09-25 09:11] BugDiver commented on #40
Multithreading support is available with version 0.2.0

[2020-09-25 09:11] #40 closed

[2020-11-13 17:26] nablik opened #132 "Major issue with VisualCode: not working with template example of gauge"
### Describe the bug
Start: have a gauge installed in my machine:
Gauge version: 1.1.4
Commit Hash: c982558

Plugins
-------
dotnet (0.2.0)
html-report (4.0.12)
screenshot (0.0.1)
xml-report (0.2.3)

then in a temp dir

```gauge init dotnet```

when executing

[code]
all good
but when I import the project with the visual code
and run the test I get

[code]

### What command(s) did you run when you

[2020-11-18 07:02] BugDiver commented on #117
Fixed via #123

[2020-11-18 07:02] #117 closed

[2020-11-27 14:32] rogerjak opened #135 "Verbose logging even when log level is info"
Since 0.3.0 the console output and log file is filled with these:
`Microsoft.AspNetCore.Routing.EndpointMiddleware[0]`
`Microsoft.AspNetCore.Hosting.Diagnostics[1]`
For each one there are a couple of more rows belonging to them.
I don't think they should be there for log level info, only debug.

[2020-12-02 02:38] sriv commented on #135
thanks for raising this. gauge-dotnet 0.3.0 uses a pure c# gRPC implementation, which in turn uses the asp-net core libs to host the server.

Raised a fix for this.

[2020-12-02 02:40] sriv commented on #135
Just realized that #132 is also related.

[2020-12-02 12:19] #132 closed

[2020-12-04 09:43] smaik1 commented on #40
Best thing that could happen to me this year to have multithreading with gauge-dot-net  :)
Many thank to all the gauge team

It would be better to add the activation of this so important feature in the features delivered in release.

Update the gauge documentation, as it is not noted that this functionality is available with dot-net.

Doc gauge:
------------
Note
Currently, only the Java language

[2020-12-04 09:54] smaik1 commented on #40
Best thing that could happen to me this year to have multithreading with gauge-dot-net :)
A big thanks :)

It would be better to add the activation of this so important feature in the features delivered in release.

Update the gauge documentation, as it is not noted that this functionality is available with dot-net.

Doc gauge:
Note
Currently, only the Java language runner supports parallel execut

[2020-12-04 10:52] zabil commented on #40
Thanks for pointing this out. The document is now updated via https://github.com/getgauge/docs.gauge.org/commit/d77428f2ed28922e40408a611da800bffc85c596

[2021-01-04 16:05] raweaver commented on #135
I've noticed similar behavior with gauge-dotnet 0.3.1 where the Microsoft.AspNetCore info messages appear in the console output on a normal run.

[code]

I then set GAUGE_LOG_LEVEL = DEBUG in my environment and the Microsoft.AspNetCore logging statements did not appear in the console output. This is counterintuitive that the additional logging output is suppressed when enabling debug logging level

[2021-01-04 17:40] zabil commented on #135
This should be fixed in 0.3.1 via

https://github.com/getgauge/gauge-dotnet/pull/133/files#diff-280ecf7c70e274bad023c9acea61103fae54640ec4fdc58b35dd6ff40d199e74L41-L43

Can you please the dotnet plugin is using the latest version?

[2021-01-04 18:02] raweaver commented on #135
@zabil Thank you for the quick response. You are correct, this is fixed in 0.3.1. My apologies. I thought I was running 0.3.1 because I ran gauge update dotnet, but the update had installed 0.3.0.

How does 0.3.1 become the version installed when gauge checks for plugin updates?

Thank you!

[2021-01-04 18:14] zabil commented on #135
Ok that explains it and thanks for pointing it out. For some reason the latest plugin version is not updated here

https://github.com/getgauge/gauge-repository/blob/master/dotnet-install.json#L4

Need to check that and will push a fix soon.

[2021-01-20 09:53] rogerjak commented on #135
Gauge 1.1.7 still won't update dotnet to 0.3.1... :(

[2021-01-20 10:21] zabil commented on #135
0.3.1 is available at https://github.com/getgauge/gauge-dotnet/releases/tag/v0.3.1

However it's not updated at https://github.com/getgauge/gauge-repository/blob/fa99e41a4afd6a03f21f4ec456aeb789f6352bfc/dotnet-install.json#L4

Please feel free to send a pull request by copying the section related to 0.3.0 and bumping up the version and the download urls to 0.3.1. You just need to make sure that it

[2021-01-22 02:56] sriv commented on #135
gauge-dotnet 0.3.1 is added to the repository via https://github.com/getgauge/gauge-repository/pull/63

Am closing this issue, please feel free to comment if this isn't fixed in 0.3.1.

[2021-01-22 02:56] #135 closed

[2021-02-13 18:22] raweaver opened #145 "Step Text in ExecutionContext still includes dynamic parameters instead of values"
We are trying to use execution hooks to log step execution (and other content), however, we found that the ExecutionContext.CurrentStep.Text is the actual step text. This is fine for typical steps. However, steps with dynamic parameters and steps within dynamic parameters in concept files still print the parameter names instead of the values. It would be beneficial to get the step text as executed

[2021-04-13 13:54] rhuims opened #151 "dotnet 5.0 not supported?"
Hi. I have a project that uses .NET 5.0 and `gauge run` tells me:

[code]

[code]

Is .NET 5.0 not supported? If so, do you intend to add v5 support?

Thanks
Reto

[2021-04-13 14:23] sriv commented on #151
Hi @rhuims,

Gauge-dotnet does not have `Microsoft.AspNetCore.App` as it's dependency. It does use `Gauge.CSharp.Core` which has a dependency on`Grpc.AspNetCore.Server`.

I am not sure how `Microsoft.AspNetCore.App` is being picked up as a dependency. I'll try to uninstall older versions and check with .NET 5.0.

[2021-04-13 14:28] rhuims commented on #151
@sriv alright, thanks

[2021-04-16 02:45] sriv commented on #151
I can confirm that this is replicable. I am yet to trace the package that's adding `Microsoft.AspNetCore.App` as it's dependency.

[2021-04-16 08:51] rhuims commented on #151
:+1:

[2021-04-23 11:37] sriv commented on #151
So, finally figured out that it is not a problem with the dependency of gauge-dotnet, rather gauge-dotnet itself has to be deployed with `net5.0` as a target framework.

Changing the target framework is a fairly straightforward task, but I worry if a binary built with `net5.0` as `targetframework` would work on .net core 3.1? If it doesn't, then gauge-dotnet would have to target multiple framework

[2021-04-23 12:03] zabil commented on #151
I noticed this while trying to run gauge with dotnet5. Is it worth having a dotnet5 as a separate plugin so that it does not break for users running on 3?

For example

[code]

[2021-04-27 03:45] sriv commented on #151
I can confirm that gauge-dotnet built with targetframework netcoreapp3.0 and net5.0 do not work with .net 5.0 and .net 3.2.14 respectively.

So there's a need to have target framework specific builds. I am not a fan of another plugin, it is essentially a duplicate.

So there are a couple of options:

- release a gauge-dotnet version which supports net5.0 and deprecate .net3.x support (not recommen

[2021-04-27 07:59] zabil commented on #151
I guess this would be a better option. Support 3.x by default change dotnet.properties for 5 support.

[2021-05-06 18:53] rogerjak opened #159 "gauge_clear_state_level = spec not working as expected"
Gauge 1.1.8 gauge-dotnet 0.3.1

When setting gauge_clear_state_level to spec it still creates mote than one instance of the implementation.
I have a base class and in the constructor I print whenever it's created.
Then my implementation inherits from that base and I add two scenarios.
I expect the ctor to be called just once for the entire spec, but it's called twice; once for the spec and then ag

[2021-05-07 23:37] simmonskeith opened #160 "version 0.4.0 plugin is missing net5.0 binaries"
On a Windows 10 system, after updating to version 0.4.0 of the plugin which should support net5.0, Gauge was reporting the following:
[ERROR] * You intended to execute a .NET program, but dotnet-bin\net5.0\Gauge.Dotnet.dll does not exist.

After checking the plugin folder, I found only the netcoreapp3.0 binaries.  The launcher.cmd parses the output of my' dotnet --version' command as '5.0.202' and

[2021-05-08 02:19] #160 closed, assigned to nobody

[2021-05-08 02:22] sriv commented on #160
gauge-dotnet 0.4.1 should contain net5.0 binaries. Please check

[2021-05-09 01:49] simmonskeith commented on #160
gauge-dotnet 0.4.1 has the net5.0 binaries and works great.  Thanks!

[2021-06-23 15:58] Drunknbgfoot commented on #47
I got this same issue today with different reproduction steps.

1. Have working dotnet project
2. use terminal in VS code with command: dotnet add system.windows.forms.dll
3. Type code to use system.windows.forms (sendkeys)
4. Run scenario
5. Test passes with errors, but scenario did not run

Unable to connect to plugin Html Report 4.0.12. rpc error: code = Unavailable desc = error reading from se

[2021-09-10 18:45] lokrur opened #167 "Environment variables are not Available"
When running Gauge in .NET using "Gauge Run --env MyEnv Specs", no environment variables are available using Environment.GetEnvironmentVariable and when I use Environment.GetEnvironmentVariables the returned value is NULL. I have values defined in the properties files under my environment name. Also, none of the values in the default properties files show up either. I have tried using EnvironmentV

[2021-09-12 16:40] sriv commented on #167
This seems to work fine for me, on Windows 10, using dotnet 5.0.202.

I am using

[code]

I added this line into a step of a newly created gauge-dotnet project (using `gauge init dotnet`):

[code]

And I can see my environment variables dumped into the console.

You are correct, that the gauge-dotnet runner is a child process that the gauge.exe process spawns. You can see the launcher script in yo

[2022-02-08 16:08] mpekurny opened #178 ".NET 6.0 Support?"
When trying to use a .NET assembly built in .NET 6, I get the error below. Looking at other issues and PRs, it appears that updates needed to be made to support .NET 5.0, so I would assume that similar updates will also need to be made to support .NET 6? Is there a plan to make those changes? Also, .NET 5 was not a long term support version, so support and updates for that version will end in May

[2022-02-09 06:49] sriv commented on #178
.net 6.0 support was added and merged via https://github.com/getgauge/gauge-dotnet/pull/174. It is still to be released (some builds have been misbehaving)

[2022-02-15 13:14] mpekurny commented on #178
Thanks for the information @sriv is there any ETA on when it might be released?

[2022-03-22 18:48] mpekurny commented on #178
Any word on when the .NET 6 support will be released?
@sriv

[2022-03-23 09:24] sriv commented on #178
apologies for going silent here, been terribly busy off late. I'll try to spend some time this weekend.

In the meantime, if you are able to do a build from source and take a quick look to see what works and what doesn't, that'd be super helpful (ref: https://github.com/getgauge/gauge-dotnet#build-from-source)

[2022-03-26 19:13] mpekurny commented on #178
Hey @sriv I downloaded and built from source as you requested. I will admit we are fairly new to gauge and do not have a lot of tests written yet and nothing testing UI code (yet), just tests checking inputs/outputs of our service APIs.

With that caveat out of the way the version built from code worked in .NET 6 without any issues running out tests.

[2022-03-28 02:54] sriv commented on #178
Hi @mpekurny , thanks for checking the source build. It's good to hear that the source build is working for you. But I am worried that the tests are not passing on our CI - https://github.com/getgauge/gauge-dotnet/pull/186

I was attempting to make a release fwiw, but the tests indicate two potential issues - (1) with table driven parallel execution and (2) when shutting down an editor like vscode

[2022-04-05 11:27] mpekurny commented on #178
@sriv since I can build from source, I think for now I can wait for you to work out the issues you are having. We don't use table driven parallel execution, or at least not yet, so that wasn't part of my testing. However, I use VSCode and didn't see any issues with shutting down the editor in my testing. I am on Windows. Not sure if that helps or not, but if there is anything else I can help with

[2022-04-08 10:45] johanpearson opened #187 "Add support to set/update scenario name from data/table - driven tests"
Example test spec:
# My Tests
  | Link   | Page  |
  |-------|--------|
  | Link1 | Page1 |
  | Link2 | Page2 |
  | Link3 | Page3 |

* Start Application

## Click Link re-directs to correct page
* Verify Click <Link> re-directs to <New Page>

This results in the following TestNames:
My Tests / Click Link re-directs to correct page 1
My Tests / Click Link re-directs to correct page 2
My Tests / Cli

[2022-04-14 06:37] ayankumaar commented on #178
@sriv I followed the same process that you have mentioned here. I am able to run the dotnet plugin in .NET 6.0. Also, I did a sanity check with one of my scripts. It is working fine as of now.

But, I have one question, I have created a zip file for the dotnet plugin. I am trying to install it using the following command: **gauge install dotnet --file "<file_path>"** .

But, I am getting the follo

[2022-04-18 06:17] ayankumaar commented on #178
@zabil or @sriv is there any update when gauge dotnet will be upgraded to .NET 6.0 and will be officially released ?

[2022-04-18 13:40] harimadusumilli commented on #178
Hello Gauge Team, We also would like to know any tentative ETA for support of DOTNET 6.0 . As we have many tests in our enterprise which are using 5.x and since its going to be end of support , It would be great if you can provide some information, which would help us make  a plan.

[2022-04-18 20:03] zabil commented on #178
Unfortunately, there is no ETA for this. The builds are failing and it's been hard to pin point the exact reason. The best options is to build from source and use it for now. Thanks for being patient.

[2022-04-28 06:33] benquinteros opened #188 "Ability to set test timeout"
A la the JS implementation. :)

[Configuration](https://github.com/getgauge/gauge-js/blob/7d3f8cb5ed9f4fa2388b7e90a23a82b2ee4eb9c7/docs/configuration.md#configuration)

[2022-05-04 18:07] jensakejohansson opened #190 "Add error message/stacktrace to context?"
Hi!

I'm able to check if a test is failing in the AfterScenario-hook by the CurrentScenario.IsFailing property. Is it possible to also expose the stacktrace/error message/exception in the context object? The stacktrace is logged by Gauge to file/stdout, but I'd like to be able to fetch it at "teardown" to have more freedom & control since the logging basically happens after I've "lost control" of

[2022-05-05 03:29] sriv commented on #190
Hi, thanks for the feedback. I agree that the context could be enriched further.

This is not a change in gauge-dotnet alone, since the ExecutionContext is also populated by gauge. gauge-dotnet receives the context from gauge.

The lifecycle is roughly `BeforeScenario` -> `Scenario` -> `AfterScenario`. gauge-dotnet does not maintain the state, since gauge is the one orchestrating this. So, when a

[2022-05-05 05:59] jensakejohansson commented on #190
I see. Would it be possible to ask you to create an appropriate change request on Gauge - you know what to technically ask for - so that you (or some other maintainer of the C#-parts) later can added it to C#? I would be very greatful!

It thought of trying to do a hack and add it myself, but since it seems like changes are needed in Gauge (which is written i Go of which I have no experience), Gau

[2022-05-09 15:35] sriv commented on #178
The latest release should work on. Net 6.0. https://github.com/getgauge/gauge-dotnet/releases/tag/v0.5.0

Please check and report your experience.

Thanks

[2022-05-09 16:23] harimadusumilli commented on #178
Do you have the .zip offline installation file that you generally provide for installation. I see that the packages that you have provided are with the source code. Is is possible for you to provide the .zip offline installation file ?

[2022-05-09 16:44] sriv commented on #178
Seems like the artifacts did not get attached. I'll check this, bit busy presently

[2022-05-10 11:40] harimadusumilli commented on #178
Hello Sriv / Gauge Team, Can you please let me know if you will be able to have the offline installation .zip package when it can be made available  ?

[2022-05-10 11:56] sriv commented on #178
Need to investigate the release scripts, it may take some time. I can only look at it over the weekend at the earliest.

Any help is welcome here. There is no gauge team anymore, the project is maintained by volunteers on their personal time (this has been the case since Jan 2021).

[2022-05-11 03:47] sriv commented on #178
The release script has been fixed. The zip file is available here for offline install - https://github.com/getgauge/gauge-dotnet/releases/download/v0.5.0/gauge-dotnet-0.5.0.zip

I am going to close this issue, feel free to open a new one if there are any issues.

[2022-05-11 03:47] #178 closed

[2022-05-20 14:24] harimadusumilli opened #192 ".Net 6.0 Support - Plugin Off line installation failed"
When trying to install the latest offline plugin for Dotnet with Dotnet 6.0 . The Installation fails.

C:\GaugeSupport>gauge install dotnet --file gauge-dotnet-0.5.0.zip
Failed to install plugin 'dotnet'.
Reason: File C:\Users\myuserid\AppData\Local\Temp\1\gauge_temp1653056777145077900\plugin.json doesn't exist.

[2022-05-21 11:40] sriv commented on #192
This works in linux, need to check on windows

[2022-05-22 08:54] sriv commented on #192
Works for me on windows 10 as well. @harimadusumilli - is this something that happens consistently across machines?

[2022-05-23 12:04] harimadusumilli commented on #192
Hi Sriv.. Will check on more windows machines as we still use windows 7 with in our enterprise and will let you know.. Thank you for your due diligence.

Regards,
Hari

[2022-05-23 12:20] harimadusumilli commented on #192
Hello Sriv,

The latest plugin installation you have provided when we open appears to also have the source code for the DOTNET. I wanted to make sure that the distributable offline plugin consists this.

When we compare the previous versions of the offline install with the current offline plugin install, the structure seems to be very different, unzipped the previous version and the latest zipped

[2022-05-23 13:05] sriv commented on #192
The content of `gauge-dotnet-0.5.0.zip` as I see:

[code]

I don't see this in the contents listed above. Test assemblies/source code are not intended to be shipped.

Regarding difference in the file size, gauge-dotnet now supports net6.0, so you'll notice that the `bin` folder has two subfolders, one each for `net6.0` and `netcoreapp3.1` target frameworks.

[2022-05-23 15:32] harimadusumilli commented on #192
Yoo Hoo we were able to install the dotnet offline plugin.. Thank you very much again....

Best Regards,
Hari

[2022-05-23 15:32] #192 closed

[2022-05-23 15:44] sriv commented on #192
Very glad to hear. Thank you for your patience

[2022-07-12 06:29] benquinteros commented on #30
bump

[2022-07-26 14:30] harimadusumilli commented on #30
Hello Gauge Team,

Can you please let us know if the async Task feature will be implemented in DOT-NET.

Gauge version: 1.1.7
Commit Hash: 5d86b72

Plugins
-------
dotnet (0.5.0)
html-report (4.0.12)
screenshot (0.0.1)
xml-report (0.2.3)

Dotnet framework 6.0. I wanted to run it using for e.g:, playwright and although the step gets executed there is no error that is reported. I see from the above

[2022-07-26 15:37] zabil commented on #30
There's no Gauge team as such and no one is working on this at the moment. However pull requests to add support for async task will be accepted.